<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/17861321?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18247487?query=java%20Odessa">Java Developer for Team Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18103044?query=java%20Odessa">Java/Scala Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18291806?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/17687063?query=java%20Odessa">Build Integration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/17730473?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/17730427?query=java%20Odessa">Java Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18393660?query=java%20Odessa">Разработчик R&amp;D Engineer (Computer Vision)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18393227?query=java%20Odessa">Разработчик C# Engineer for CAD file formats</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18061408?query=java%20Odessa">Portal (front-end) developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18300168?query=java%20Odessa">Plugin developer (Perl/GWT)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Софтезіс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18313947?query=java%20Odessa">HTML-верстальщик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Тимур Пимпи</td> 
     <td class="salary">400-600 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18322345?query=java%20Odessa">Software Developer (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://spb.hh.ru/vacancy/18234157?query=java%20Odessa">Middle or Senior Scala / Spark Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Do IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023151">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028624">Java TeamLead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Безопасный Интернет</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028721">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028545">Java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028644">Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028655">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028129">программист Java Senior Level</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ООО ТехноСервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028257">Ведущий Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровый центр Рестарт</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028713">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028621">Программист серверной части/Java Server-Side Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Nekki</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027872">Java-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Inoventica Services</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026821">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Системы и Проекты"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028299">Backend Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Икстенс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028277">Методист курса "Java"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026186">Java Developer (Платежные системы)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028364">Java Developer (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">GameShells</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027931">Backend -разработчик (java)</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">RTBID</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028402">Senior Java Developer (Project BMW Online Sales)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">T-Systems CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028446">Разработчик Java (JavaFX)</a></td> 
     <td class="city"></td> 
     <td class="companyName">АртКом</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028788">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027523">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Murano Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028185">Scala/Java программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Waves</td> 
     <td class="salary">До 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027282">Java-программист</a></td> 
     <td class="city">Киров</td> 
     <td class="companyName">CLARUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028544">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028246">Ведущий Java Разработчик Отдела перспективных разработок</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Открытие Брокер</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027321">Java EE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028267">Sr. Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028229">Java/Scala Developer (relocation)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CNA International</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027277">Ведущий Java разработчик/TeamLead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИНГРИД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028469">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028304">Ведущий разработчик систем ДБО (JAVA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026357">Middle Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">[ смсфинанс }</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024917">J2EE/EJB JAVA developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">AGILOFT</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028533">Ведущий Java разработчик Отдела автоматизации бэк-офиса</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Открытие Брокер</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028092">Python / Java разработчик (Big Data, Data Mining)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kenaz Analytics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028556">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 140 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028420">Руководитель группы разработчиков (ТимЛид)</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025974">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Taximeta LLC</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028380">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Critical Issue</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028107">JavaEE Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ДевБрэйн</td> 
     <td class="salary">От 1 500 до 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028778">Senior Front-end Web developer (JS\HTML\CSS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Solar Communications GmbH</td> 
     <td class="salary">От 1 200 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028403">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CarPrice.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028320">Разработчик гибридных мобильных приложений</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Компания АллоТакси</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027570">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028374">Разработчик Android</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028160">Senior back-end developer(Lead)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spersy</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026084">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028134">Разработчик ПО стриминга</a></td> 
     <td class="city"></td> 
     <td class="companyName">exitgames</td> 
     <td class="salary">От 50 000 до 85 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028704">Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Digital Sparta</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027819">QA automation engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028784">Full Stack Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Solar Communications GmbH</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028617">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FORapp</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028507">Ведущий Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Interactive Services</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028426">Программист на разработку бэк-энда.</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "Арго-Технолоджи"</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025714">Team Lead/ Руководитель разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028564">Тестировщик ПО (QA-инженер)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028641">Разработчик Senior .Net Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aspose Pty Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027235">Инженер по тестированию ПО</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iCanDeliver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013276">Senior Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028375">Разработчик iOS</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024326">Программист 1С-Битрикс (middle или старт)</a></td> 
     <td class="city">Зеленоград</td> 
     <td class="companyName">Интернет-агентство "Инфоспайс"</td> 
     <td class="salary">От 25 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028217">Android/IOS developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Grow Academy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028596">Стажер SafeBoard</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028322">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">INSTAM</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028739">Full-stack PHP (Yii2)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "СПОРТМЕНЮ"</td> 
     <td class="salary">От 90 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028670">Веб-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Skyberg</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028350">C# разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">3dEye Inc.</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028260">Разработчик в веб-группу</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровый центр Рестарт</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028162">Python-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AppCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028288">QA engineer / Тестировщик ПО</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Raxel Telematics</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028611">Старший специалист по автоматизации тестирования / Senior Automation Tester</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Navitel</td> 
     <td class="salary">От 80 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028289">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMSolutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028465">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Stealth project</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027488">Разработчик приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АйТи</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028561">Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028169">Senior PHP разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АЛОЛЬ</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028574">Ruby разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Отраслевая Система Торгов</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028245">Разработчик Frontend</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028526">Team Lead - старший IT-специалист (руководитель по разработке)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Коворкинг</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028384">Front-End и Back-End разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">BetyouBet</td> 
     <td class="salary">От 25 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco US</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027103">Ведущий Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">100AM</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028142">Senior JS developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maria</td> 
     <td class="salary">От 5 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025067">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iCanDeliver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028398">Разработчик С++ (Fast Track)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026370">QA тестер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027995">Исследователь в области ИБ / Программист-аналитик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НеоБИТ</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024329">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Главный радиочастотный центр</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026461">Аналитик по прогнозированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028319">C# developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Компания АллоТакси</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028250">Технический менеджер проекта</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Delivery City</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028562">Системный аналитик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028695">JavaScript Architect</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПерсоналИнвест</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011654">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014053">PHP Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">RGK Group</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028677">Test Validation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Auriga</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028247">ios developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary">От 70 до 140 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028649">DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">LPgenerator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028338">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028273">Разработчик на Python (Django, Asyncio, PostgreSQL)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>